body{
    background-color: lightgray;
}
.profile img {
    width: 80px;
    height: 100px;
}
.info label{
    font-weight: bold;
}
.info input {
    border: none;
}
.list-group .progress {
    height: 5px;
}
.list-group ul {
    margin: 0;
    padding: 0;
}